In [1]:
import pandas as pd

# Assuming "SleepStudyData.csv" is in the same directory as your script
file_path = "SleepStudyData.csv"

# Read the CSV file into a DataFrame
sleep_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
sleep_data.head()

  Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0    Yes    8.0        Yes       Yes      3       Yes
1     No    6.0        Yes       Yes      3        No
2    Yes    6.0        Yes       Yes      2       Yes
3     No    7.0        Yes       Yes      4        No
4     No    7.0        Yes       Yes      2       Yes

Here is a description of each of the variables contained within the dataset.

Enough = Do you think that you get enough sleep?
Hours = On average, how many hours of sleep do you get on a weeknight?
PhoneReach = Do you sleep with your phone within arms reach?
PhoneTime = Do you use your phone within 30 minutes of falling asleep?
Tired = On a scale from 1 to 5, how tired are you throughout the day? (1 being not tired, 5 being very tired)
Breakfast = Do you typically eat breakfast?

In [2]:
sleep_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      104 non-null    object
 1   Hours       102 non-null    float64
 2   PhoneReach  104 non-null    object
 3   PhoneTime   104 non-null    object
 4   Tired       104 non-null    int64
 5   Breakfast   104 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.0+ KB

In [4]:
# Create a boolean condition for filtering
sl_enough_wt = (sleep_data["Enough"] == "Yes") & (sleep_data["PhoneReach"] == "Yes")

# Apply the condition to the DataFrame
a_sl_enough_wt = sleep_data[sl_enough_wt]

# Display the first few rows of the filtered DataFrame
a_sl_enough_wt.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0     Yes    8.0        Yes       Yes      3       Yes
2     Yes    6.0        Yes       Yes      2       Yes
6     Yes    7.0        Yes       Yes      3       Yes
12    Yes    7.0        Yes       Yes      3        No
13    Yes    8.0        Yes       Yes      2        No

In [5]:
a_sl_enough_wt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 0 to 103
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      23 non-null     object
 1   Hours       23 non-null     float64
 2   PhoneReach  23 non-null     object
 3   PhoneTime   23 non-null     object
 4   Tired       23 non-null     int64
 5   Breakfast   23 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB

# Get the value counts for multiple columns
value_counts_result = a_sl_enough_wt[["Column1", "Column2"]].value_counts()

# Display the result
print(value_counts_result)

In [7]:
sl_enough_wot = (sleep_data["Enough"] == "Yes") & (sleep_data["PhoneReach"] == "No")
a_sl_enough_wot = sleep_data[sl_enough_wot]

# Display the first few rows of the filtered DataFrame
a_sl_enough_wot.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
14    Yes    7.0         No       Yes      3       Yes
29    Yes    9.0         No        No      2       Yes
36    Yes    7.0         No        No      2       Yes
37    Yes    9.0         No       Yes      2       Yes
40    Yes    8.0         No       Yes      1       Yes

Now we can compare the quantity of persons who slept well with and without tepehon.

In [8]:
a_sl_enough_wot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 14 to 95
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      13 non-null     object
 1   Hours       12 non-null     float64
 2   PhoneReach  13 non-null     object
 3   PhoneTime   13 non-null     object
 4   Tired       13 non-null     int64
 5   Breakfast   13 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 728.0+ bytes

We see that with telephone slept 23 Persons and without 13 Persons, thats says us, that it is unsignificant influence 
on the sleep process.

Now we will try to find out the dependence between breakfast & tiredness over the day

In [11]:
get_br_and_tired = (sleep_data["Breakfast"] == "Yes") & (sleep_data["Tired"] == 5)

result_get_br_and_tired = sleep_data[get_br_and_tired]
result_get_br_and_tired.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
47     No    5.0         No        No      5       Yes
73     No    6.0         No       Yes      5       Yes
86     No    9.0         No       Yes      5       Yes

In [12]:
no_br_and_tired = (sleep_data["Breakfast"] == "No") & (sleep_data["Tired"] == 5)

result_no_br_and_tired = sleep_data[no_br_and_tired]
result_no_br_and_tired.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
20     No    2.0        Yes       Yes      5        No
25     No    7.0         No       Yes      5        No
38     No    5.0        Yes        No      5        No
44     No    4.0         No        No      5        No
57     No    9.0         No       Yes      5        No

compare the data

In [13]:
result_no_br_and_tired.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 20 to 63
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      7 non-null      object
 1   Hours       7 non-null      float64
 2   PhoneReach  7 non-null      object
 3   PhoneTime   7 non-null      object
 4   Tired       7 non-null      int64
 5   Breakfast   7 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 392.0+ bytes

In [14]:
result_get_br_and_tired.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 47 to 86
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      3 non-null      object
 1   Hours       3 non-null      float64
 2   PhoneReach  3 non-null      object
 3   PhoneTime   3 non-null      object
 4   Tired       3 non-null      int64
 5   Breakfast   3 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 168.0+ bytes

Now we compare the quality of sleep with telephone use before sleep

In [15]:
sleep_with_phonetime = (sleep_data["Enough"] == "No") & (sleep_data["PhoneTime"] == "Yes")

a_sleep_with_phonetime = sleep_data[sleep_with_phonetime]
a_sleep_with_phonetime.head()

  Enough  Hours PhoneReach PhoneTime  Tired Breakfast
1     No    6.0        Yes       Yes      3        No
3     No    7.0        Yes       Yes      4        No
4     No    7.0        Yes       Yes      2       Yes
5     No    7.0        Yes       Yes      4        No
7     No    7.0        Yes       Yes      3       Yes

In [16]:
esleep_with_phonetime = (sleep_data["Enough"] == "Yes") & (sleep_data["PhoneTime"] == "Yes")

a_esleep_with_phonetime = sleep_data[esleep_with_phonetime]
a_esleep_with_phonetime.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0     Yes    8.0        Yes       Yes      3       Yes
2     Yes    6.0        Yes       Yes      2       Yes
6     Yes    7.0        Yes       Yes      3       Yes
12    Yes    7.0        Yes       Yes      3        No
13    Yes    8.0        Yes       Yes      2        No

In [17]:
a_sleep_with_phonetime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 1 to 100
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      55 non-null     object
 1   Hours       55 non-null     float64
 2   PhoneReach  55 non-null     object
 3   PhoneTime   55 non-null     object
 4   Tired       55 non-null     int64
 5   Breakfast   55 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.0+ KB

In [18]:
a_esleep_with_phonetime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 103
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enough      29 non-null     object
 1   Hours       28 non-null     float64
 2   PhoneReach  29 non-null     object
 3   PhoneTime   29 non-null     object
 4   Tired       29 non-null     int64
 5   Breakfast   29 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.6+ KB

Here we see, that who sleeps after the telephone usage sleeps worther (55 Persons) as one who sleeps without telephone usage before sleep (29 Person)

In [20]:
value_counts_result = sleep_data[["Enough", "PhoneTime"]].value_counts()
print(value_counts_result)

Enough  PhoneTime
No      Yes          55
Yes     Yes          29
No      No           13
Yes     No            7
Name: count, dtype: int64